
*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;   
}
body{
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    /* padding-top: 20px ; */
    padding-right: 72px;
    /* padding-bottom: 20px; */
    padding-left: 32px;
    background-color: #fff;
    z-index: 99;
}
.menu-button{
    padding: 0;
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 28px;
    cursor: pointer;
}
.menu-line{
    display: block;
    background-color: black;
    width: 20px;
    height: 3px;
   border-radius: 3px;
  
}
.logo{
    margin-right: 59px;
}
.search-group{
    height: 44px;
    max-width: 830px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius:22px;
    /* border: solid 1px #30384C; */
    background-color:#EBEBEB ;
    padding-right: 18px;
}
.input-search{
    border: none;
    border-radius:22px;
    width: 100%;
    padding: 12px 23px;
    background-color: transparent;
}
.btn-search{
    border: none;
    background-color: transparent;   
    padding: 0;
    cursor: pointer;
}
.icon-search{
    fill: #000;    
}
.icon-link{
    opacity:0.24;
}
.icon-link:hover{
    opacity: 0.7
}
.icon-link:not(:last-child){
    margin-right: 50px;
}
.icons-menu{
    
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user{
    margin-left: 45px;
}
.user-avatar{    
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 153px;
    height:  calc(100% - 153px) ;
    overflow-y: auto;
    padding-left: 32px;
    width: 13%;
    background-color: #fff;
}
.content{
   margin-top: 153px;
    padding-left:  14%;
    width: 100%;
    height: 400px;

}
.nav-menu{
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    list-style-type:none;
}
.nav-link{
    text-decoration: none;
    color: #898989;
    display: flex; 
    align-items: center;
}
.nav-item{
    margin-bottom: 28px;
    color: #898989;
    /* color: black;
    opacity: 0.24;    */
    cursor: pointer;
   
}
.nav-item .icon{    
    fill: #898989;    
}
.nav-link:hover .icon{
    opacity: 1;    
    fill: red;   
}
.nav-link:hover{       
   color: red;   
}

.nav-text{
    margin-left: 13px;
}
.nav-title{
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}
.nav-img{
    width: 26px;
    height: 26px;
    border-radius: 50%;

}
.channel{
    position: relative;
    margin-bottom: 50px;
}
.channel-title{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    color: #19202c;
    margin-bottom: 30px;
}
.channel-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.channel-text{
    margin-left: 20px;
}

.video-card{
    width: 250px;
}
.video-thumb {
    width: 250px;
    height: 150px;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    color: #fff;
    margin-bottom: 10px;
}
.thumbnail {
    width: 250px;
    height: 150px;
    object-fit: cover;
}
.video-duration {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 3px 9px;
    border-radius: 12px;
    background: rgb(0,0,0, 0.3);
    font-size: 14px;
    line-height: 18px;
   
}
.video-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #19202c;
    margin-bottom: 4px;
}
.video-info {
    font-size: 13px;
    line-height: 16px ;
    color: #c2c2c2;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.video-views {
    margin-right: 5px;
}
.video-views::after{
    display: inline-block;
    content: '';
    width: 2px;
    height: 2px;
    background-color: #c2c2c2;
    vertical-align: middle;
    margin-left: 5px;
}
.sliders-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66px;
    cursor:  pointer;
    position: absolute;
    right: 145px  ;
    top:15px;

}
